---
name: Apply DNS changes

on:
  push:
    branches:
      - main
    paths:
      - "dns/**"
  workflow_dispatch:

permissions: {}

jobs:
  dnscontrol:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
      - name: dnscontrol push
        env:
          GANDI_TOKEN: "${{ secrets.GANDI_TOKEN }}" # Expires 2026-04-07
        working-directory: ./dns/
        run: |
          nix run --inputs-from . nixpkgs#dnscontrol -- push
