---
name: Apply DNS changes

on:
  push:
    branches:
      - main
    paths:
      - "dns/**"
  workflow_dispatch:

permissions: {}

jobs:
  dnscontrol:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
      - name: dnscontrol push
        env:
          GANDI_TOKEN: "${{ secrets.GANDI_TOKEN }}" # Expires 2026-04-07
        working-directory: ./dns/
        run: |
          nix run --inputs-from . nixpkgs#dnscontrol -- push
