---
name: Test/Preview DNS changes

on:
  pull_request:
    paths:
      - "dns/**"

permissions: {}

jobs:
  dnscontrol:
    # only run for local branches
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
      - name: dnscontrol preview
        env:
          GANDI_TOKEN: "${{ secrets.GANDI_TOKEN }}" # Expires 2026-04-07
        working-directory: ./dns/
        run: |
          nix run --inputs-from . nixpkgs#dnscontrol -- preview
